* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18181b;
  color: #f4f4f5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.custom-colors {
  --custom-button-background-color: #ffb900;
  --custom-button-background-color-hover: #fe9a00;
  --custom-button-text-color: #461901;
}